html {
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;

}

body {
    margin: 0;
    overflow-x: hidden; /*para que sea pantalla completa*/
    background-image: url("photo-1659051635205-ac0d05db052e (1).jpg");
}

a {
    text-decoration: none;
}
/*encabezado*/
#cap {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #cae8ca;
    border: 2px solid #4CAF50;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: height 0.3s ease;
}


#cap h1 {
    font-weight: bold;
    font-size: 30px;
    color: limegreen;
    margin: 0 20px;
}


#botons {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 20px;
}
.navbar{
    margin-right: 50px;
}


#botons li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #4CAF50;
    padding: 5px 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
}


#botons li a:hover {
    color: white;
    background-color: #4CAF50;
    border-color: #4CAF50;
}

main {
    margin-top: 80px;
    padding: 20px;
}

/*contacta*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Altura completa de la finestra */
    margin-top: 100px;
    text-align: center;

}

.box {
    background-color: #cae8ca;
    border: 7px solid darkgreen;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 20px;
    line-height: 2.5;
}

.box p{
    margin: 0;
}
#textarea {
    resize: vertical;
}


/*final*/
footer {
    background-color: darkgreen;
    color: white;
    font-size: 11px;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
}

.seguir {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#final a {
    color: white;
    text-decoration: none;
}

#final a:hover {
    text-decoration: underline;
}

@media (max-width: 767px) {
    h1 {
        font-size: 28px;
    }

    #cap {
        padding: 5px;
    }

    #botons {
        position: static;
        justify-content: center;
    }
}
