html {
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;

}

body {
    margin: 0;
    overflow-x: hidden; /*para que sea pantalla completa*/
    background-image: url("photo-1659051635205-ac0d05db052e (1).jpg");
}

a {
    text-decoration: none;
}

/*encabezado*/
h1 {

    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    font-size: 50px;
    color: limegreen;
    margin-left: 20px;
}

#cap {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px;
    background-color: #cae8ca;
    border: 2px solid #4CAF50;
    z-index: 3;
}

#botons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
    position: absolute;
    top: 20px;
    right: 30px;
}

#botons a {
    color: darkolivegreen;

}

/*contacta*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Altura completa de la finestra */
    margin-top: 100px;
    text-align: center;

}

.box {
    background-color: #cae8ca;
    border: 7px solid darkgreen;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 20px;
    line-height: 2.5;
}

#textarea {
    resize: vertical;
}


/*final*/
footer {
    background-color: darkgreen;
    color: white;
    font-size: 11px;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#final a {
    color: white;
    text-decoration: none;
}

#final a:hover {
    text-decoration: underline;
}

@media (max-width: 767px) {
    h1 {
        font-size: 28px;
    }

    #cap {
        padding: 5px;
    }

    #botons {
        position: static;
        justify-content: center;
    }
}
